<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    {% block header %}
        <header>Default Header</header>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        <footer>Default Footer</footer>
    {% endblock %}
</body>
</html>
